---
permalink: /
layout: default
title: Roam-n-Roll
---

<div class="post-grid">
  {% for post in site.posts %}
  <a href="{{ post.url | relative_url }}" class="post-card">
    {% assign folder = post.path | split: '/' | last | remove: '.html' %}
    <img src="{{ '/assets/images/' | append: folder | append: '/cover-thumbnail.jpg' | relative_url }}"/>
    <!--<img src="{{ post.image | relative_url }}" alt="{{ post.title }}">-->
    <div class="post-caption">
      <h2 class="grid-caption">{{ post.title }}</h2>
      <div class="grid-subcaption">{{ post.date | date: "%b %Y" }} &nbsp;&nbsp; by &nbsp;&nbsp; {{ post.author }}</div>
      {% if post.caption %}
      <p>{{ post.caption }}</p>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

