---
layout: post
title:  Квест 2015
author: Lera
---

<p>Замутили мы на День Рождения квест по мотивам спектакля &#8220;День Радио&#8221;. Надо было отгадать 6 мест (все неподалеку от нашего дома), каждое из которых соответствовало редкому животному, в каждом из этих мест можно было найти бумажку с одной-шестой QR кода, который в итоге расшифровывался в &#8220;63 Abrams Ct, apt 800. Password: Improvisation&#8221;. Без пароля мы никого не пускали по домофону )) Всем гостям было сообщено место сбора (около почтового ящика), к нему была скотчем приклеена папка с загадками:</p>

{% include post-image.html file="start.jpg" %}

<h1>Загадки</h1>
<p style="text-align: left;">Вы попали в спрятанную деревню (Escondido Village). Именно сюда принесло течениями баркас с редкими уникальными животными из Японского моря. Некоторые из них сохранились в единственном экземпляре. Большинство животных удалось поместить в зоопарк, но некоторые сбежали и разбрелись по деревне.</p>
<p style="text-align: center;">&#8220;МИР НА ГРАНИ ЗООКАТАСТРОФЫ&#8221;</p>
<p dir="ltr" style="text-align: center;">&#8220;ЧЕЛОВЕЧЕСТВУ ГРОЗИТ ПОТЕРЯ ШЕСТИ РЕДЧАЙШИХ ПОРОД ЖИВОТНЫХ&#8221;</p>
<p dir="ltr">Ну что, вы в панике? Тогда срочно помогите собрать всех животных, они вместе расскажут вам, где находится зоопарк.</p>
<p dir="ltr">Давалась карта:</p>

{% include post-image.html file="map_small.jpg" %}

<p>1) Подкустовный выползень, как это следует из названия&#8230; выползает из-под куста. Их в мире насчитывается всего 4 экземпляра и все четыре &#8211; самцы. Они появляются на свет сразу, взрослыми и только мужского пола. А откуда они берутся под кустом науке еще не известно. Излюбленное место обитания выползня вы узнаете отгадав ребус</p>
<p>
  {% include post-image.html file="image01.jpg" %}
</p>
<p dir="ltr">Этот куст произрастает вместе с другими овощами и фруктами, а выползень спрятался в его кустистых ветвях.</p>
<p dir="ltr"><strong>Ответ:<br />
</strong>Выползень сидел под кустом ежевики, в огороде, отмеченном на карте.</p>
<p>2) Североамериканский кролик зануда. Самка этого животного забирается в гнездо на ветке дерева, внизу собирается порядка 3-4 самцов и сидят. Вот собственно и все. Приносят потомство кролики раз в 10 лет и иногда в такие места приносят, что сами потом отыскать не могут и, естественно, гибнут. Сначала потомство гибнет от голода, а потом родители от огорчения.<br />
Кролик-зануда свил гнездо на ветке дерева, отыскать которую вам поможет подсказка на асфальте рядом с одним из колец баскетбольного корта.</p>
<p dir="ltr"><strong>Ответ:</strong><br />
У одного из колец теннисного корта было написано: &#8220;Кролик может забросить в это кольцо 15 очков из своего гнезда&#8221;. Было написано, где одно очко и где 3 (на трех метровой линии), надо было соответственно обыскать деревья в нужном радиусе от кольца и найти гнездо!</p>
<p>3) Рыба-мяч имеет воздушный пузырь гиганстких размеров, благодаря которому может преодолевать большие расстояния по суше катясь и подпрыгивая. Калифорнийское солнце пагубно влияет на рыбу и она сильно сдувается. Нам известно, что рыба докатилась до велосипедного насоса рядом с тенисными кортами, сдулась и спряталась в щели дерева. Спасите рыбу и она расскажет вам, где отыскать медведя-летуна.</p>
<p dir="ltr"><strong>Ответ:<br />
</strong>Рыбы-мячи были спрятаны внутри воздушных шариков, которые были спрятаны в щели дерева. Шарики можно было надуть и увидеть план теннисных кортов с указанием места, где сидит медведь-летун.</p>
<p dir="ltr">4) Медведь-летун преодолевает до 500 метров по воздуху. Он забирается на дерево, оттуда он прыгает и планирует. Но так как им в зоопарке крылья-то подрезают, максимум, что они могут, это описывать круги радиусом 7-8 литров метров.<br />
Медведь-летун примостился на дереве, отыскать которое вам поможет рыба-мяч.</p>
<p>5) Хорек-паникер в панике залез в телепорт и переместился на некую лужайку. Телепорт от неожиданности вышел из строя и потерял всякое достоинство. Отыскать вторую точку телепорта, где паникует хорек, вам поможет первая, отмеченная белым крестом рядом с велосипедным насосом.</p>
<p dir="ltr"><strong>Ответ:</strong><br />
Наконец рядом с рыбами на асфальте был нарисован крест и в него вели следы хорька-паникера. Добежав до этого места команда должна была вспомнить, где она уже видела эти следы, там и находился хорек &#8211; во второй точке телепорта.</p>
<p>6) Гигантский саблезубый кузнечик ненавидит землеройные машины. Он зарывается к северу от них и ждет начала работ, а потом выскакивает из траншеи и пугает рабочих. Одна из планируемых строек деревни находится в углу прямоугольного песочного поля неподалеку от Хульм и Барнс. Не забудьте закопать логово кузнечика обратно.</p>
<p dir="ltr"><strong>Ответ:<br />
  </strong>Саблезубый кузнечик был закопан в песок на детской площадке так что его можно было раскопать игрушечным экскаватором.</p>

{% include post-image.html file="2.jpg" %}

<p dir="ltr">Услуга телефонной консультации с квалифицированными специалистами по редким животным осуществляется по телефонам:<br />
(617) 710-*****; (650) 995-**** В ходе разговора абоненту могут предоставляться подсказки и психологическая поддержкая =) НО! каждая подсказка увеличит время команды.<br />
Напоминаем, что команда, которая пройдет квест быстрее остальных, получит два билета на поезд Москва-Нижний Тагил, ШУТКА! Она получит приз в виде редчайшего животного невиданой красы:<br />

{% include post-image.html file="priz.jpg" %}

<p dir="ltr">Редкие животные на обороте QR-кодов:<br />

{% include post-image.html file="all_rare_animals.jpg" %}

</p>
