---
layout: post
title:  Квест 2016
author: Lera
---

<p>Уже второй мой день рождения мы устраиваем квест. В этот раз так удачно получилось, что мы меняли квартиру. Старый наш квартал собираются сносить, потому что хотят построить там большую общагу, из-за того, что студентам катастрофически не хватает жилья. Вообще, на кампусе сейчас везде что-то строят, кажется, что у нового ректора какая-то строительная мания. Так вот, мы переехали из одной квартиры в почти аналогичную квартиру рядом, тут буквально 200 метров расстояния. Дали нам 60 коробок, мы все в них сложили (ну ок, Олег все сложил), на следующий день приехала бригада грузчиков в огромном грузовике, загрузили коробки, привезли на новое место, выгрузили, занесли в квартиру. Потом мы целый день разбирали и раскладывали все по местам. Шкафы абсолютно такие же. Вообще ВСЕ то же самое, только вид за окном другой&#8230; &#8220;с легким паром&#8221;! =)</p>

<p>Так вот, все друзья наши знали старый адрес. Ха-ха-ха (злорадно)! А новый никто не знал. А квартира старая &#8211; пуста, то есть АБСОЛЮТНО пуста (осталось только несколько предметов)! И мы устроили там квест, разгадав который, нужно было узнать новый адрес.</p>

<p>Мы заиспользовали карту мира, которая висела на стене (я распечатала ее из Google Maps, это была целая эпопея на двое суток, ну если бы я была не <span style="text-decoration: line-through;">кормящей матерью</span> такой тупой, то может управилась бы часа за четыре). Короче, на этой карте мы нарисовали маршрут (Антарктида на полу между двумя частями карты):</p>

{% include post-image.html file="maps_combined.jpg" %}

<p>Заметьте, в маршруте 8 остановок. По квартире были спрятаны 8 маленьких букв на оранжевых квадратиках:</p>

{% include post-image.html file="letters_combined.jpg" %}

<p>Y &#8211; на плакате (Америке), A &#8211; на бутылочке с соусом чили (Чили), D &#8211; в морозилке (Антарктида), заметьте, можно было тут же жахнуть кровавого Боярского! H &#8211; на роботе (Япония), T &#8211; на индийских флажках (Индия), R &#8211; на мобиле с Африканскими животными (Африка), I &#8211; на картине Климта (Австрия), B &#8211; в глубине кладовки (большая Кутукская пещера &#8211; Урал, Россия (пещера был обозначена значком и буками &#8220;пещ&#8221; на карте)).</p>

<p>А в комнате стоял компьютер, на котором был логин &#8220;Пир Духа Guest&#8221; (Пир Духа &#8211; это название мероприятия). Было ясно, что надо было угадать от него пароль. Пароль, как вы догадались, получался путем сопоставления букв, стран и нарисованного маршрута, и собственно пароль был &#8220;birthday&#8221;, большими буквами, наоборот (т.е. YADHTRIB). В итоге, при логине desktop background показывал наш адрес!</p>

<p>Еще, можно было найти сюрприз. Ящик в кухне был закрыт на замок из трех цифр 571. Цифры были спрятаны в квартире. 5 была зарыта как клад в огороде, 7 была в шкафчике в ванной, 1 была спрятана в диване. Открывший шкафчик получал банку варенья!</p>

<p>Но самая ржака (слово-то какое меткое!) была в том, что мы запустили Hangouts на компе из-под другого аккаунта и наблюдали за всем происходящим со звуком и видео! А ребята ни о чем не подозревали, потому что лампочка камеры была заклеена черной изолентой!</p>

{% include post-image.html file="hangouts.jpg" %}

<p>А, да, еще, висел телефон и можно было нам позвонить на новую квартиру (было написано Emergency Hotline, Пир Духа call center). Ребята нам звонили три раза, но мы стойко держались, чтобы не выдать, что мы все знаем.</p>

<p>Конечно, с первого раза сложно сделать все идеально, потому что сложно понять, на сколько просто разгадать те или иные загадки, на сколько просто найти те или иные предметы, сопоставить их друг с другом. Можно было сделать кое-что получше, конечно! Но в целом, по-моему, получилось очень круто (хотя, не все любят квесты понятное дело&#8230;)! А как мы хохотали над бедными участниками, особенно за первоприбывшими. Спасибо всем!!!</p>

