---
layout: post
title:  Что такое Warmshowers?
author: Oleg
---

<h2 style=\"text-align: center;\"><em><strong>Велосипедист ест часто, но помногу.</strong></em></h2>

<p>Многие знают про сообщество <a href="https://www.couchsurfing.com/">www.couchsurfing.com</a>, сайт который изначально создавался чтобы путешественники всех мастей могли находить контакты местных, у них останавливаться на ночлег и вместе тусоваться. <a href="https://www.warmshowers.org/">www.warmshowers.org</a> имеет похожую цель, но является гораздо более кулуарным сообществом из-за одного важного отличия: целевая аудитория это велосипедисты, преимущественно те, кто выехали из дома (у кого он есть) на неделю-месяц-год-какпойдет... Я узнал про этот сайт в 2013 году читая разнообразные путевые заметки и недолго думая зарегистрировался.</p>

<p>Первые впечатления всегда самые сильные, но они очень хорошо отражают всю суть того что происходило и в последующие встречи. Итак, первыми написали баски, Микель и Яни. Я много прокручивал в голове как встречать, что говорить и т.д., всё таки не каждый день приглашаешь к себе домой на ночлег абсолютно незнакомых людей. Ребята опаздывали и я раз в пять минут выходил на балкон смотреть не приехали ли...</p>

<p>Да, велосипедистов надо первым делом загонять в душ! Но через час после знакомства казалось, что я знаю их вечность и это настоящие друзья - простые, открытые, смешные. Это удивительно, честное слово. Они начали из Нью-Йорка, пересекли Канаду с востока на запад, и ехали на юг в центральную и Южную Америку.</p>

{% include post-image.html file="Basks-small.jpg" %}

<p>С Rajiv и Kristin та же история - полное взаимопонимание. Готовили вместе ужин, травили байки. Görkem и Kevser из Турции многое в жизни повидали. Он одно время работал фотожурналистом на военных конфликтах на Ближнем Востоке. Послушаешь такие истории из первых рук и все многие вещи в голове встают на свои места. Ну, например, что важно в жизни, а что не очень. Еще мы их подбили приготовить национальной турецкий ужин, а сами купили необходимые ингредиенты.</p>

{% include post-image.html file="Turks2-small.jpg" %}

<p>Как-то я спасал семью с двухлетней дочкой из рук американской системы здравоохранения. Долгая история, но эти замечательные ребята из Германии также стали для нас хорошими друзьями. Они на тандеме с прицепом для ребенка объездили Европу, Новую Зеландию и вот теперь Калифорнию.</p>

<h2 style=\"text-align: center;\"><em><strong>А что ты делаешь во время декретного отпуска?</strong></em></h2>

{% include post-image.html file="Germans-small.jpg" %}

<p>Знакомства с парнями-одиночками были не менее примечательными. Сам-себе-писатель Eagle Gamma ехал неизвестно откуда неизвестно куда и кроссовкам предпочитал суровые альпинистские ботинки. Кореец Юю спасался в Канаде от стада бизонов и слушал в плеере Виктора Цоя, хотя слов совсем не понимал. Другой кореец Юн заработал на путешествие в Австралии развешивая дохлых куриц на конвейер в ночную смену. Финн Ismo вообще никуда не ехал, а был в командировке и четырем стенам в дорогом отеле, предпочел живое общение и матрас у нас в гостиной, напоил вином, приготовил ужин - чудо, а не человек! Ах да, еще два француза были. Ну они, как известно, и в Африке...</p>

{% include post-image.html file="YuYu-small.jpg" %}

<p>В наших длительных велопоездках в
  {% assign related = site.posts | where: "slug", "switzerland-alps" | first %}
  <a href="{{ related.url | relative_url }}">Швейцарию</a>, Норвегию и 
  {% assign related = site.posts | where: "slug", "crimea-cycling" | first %}
  <a href="{{ related.url | relative_url }}">Крым</a> про Warmshowers мы не знали, но зато научились находить место для палатки там где это можно и не очень-то можно... Надеюсь, что Warmshowers в качестве гостей - не менее увлекательно, и мы пренепременно об этом напишем.</p>
