---
layout: post
title:  Горный туризм с маленькими детьми
author: Oleg
---

<p>Здесь мы хотим поделиться нашим опытом одно- и много-дневных горных походов с маленьким ребёнком. Когда мы изучали этот вопрос, большого количества информации найти не удавалось. Например, как дети переносят большие высоты, сколько в день можно проходить километров/часов, и т. д.. Поэтому ответы на эти вопросы выясняли опытным путём. В этом посте постарались собрать информацию технического характера. Сразу оговоримся, что наш опыт не является руководством к действию. Все дети разные и трудности походов тоже будут переносить по-разному.</p>

<p>Итак, в
  {% assign related = site.posts | where: "slug", "usa-inyo" | first %}
  <a href="{{ related.url | relative_url }}">первый поход с Федей</a> мы пошли когда ему было 6 месяцев. 3 дня, 2 ночи, температуры до 0° С, высоты до 3000 м. В целом всё прошло успешно. Вес рюкзаков 18 кг (Лерин: Федя в переноске Ospey Poco + немного вещей) и 25 кг (Олега: все остальных шмотки) Из сложных моментов &#8211; Федя много крутился и вылезал из спальника. Более удобный вариант это тёплый комбинезон плюс, возможно, спальник или одеяло. На момент написания поста Феде 2 года и он уже прекрасно спит в спальнике.</p>

<p>В следующий год мы ходили еще в несколько двух-дневных походов с друзьями (<a href="https://www.youtube.com/watch?v=7hVNnznDChk" target="_blank">Dinkey wilderness</a>, <a href="https://www.youtube.com/watch?v=udqjqe8G8Zs" target="_blank">Stanislaus National Forest</a>, <a href="https://www.youtube.com/watch?v=gV9S5rToHmw" target="_blank">The Lost Coast</a>), которые помогали нести часть вещей. Не имей сто рублей&#8230; В день удавалось проходить до ~16 км с набором/сбросом высоты до ~1000 м. Немногим больше проходили в однодневных прогулках (Крым, Грузия). Это прмерно 6-7 часов ходьбы с двумя-тремя привалами.</p>

<p>Летом 2017 мы ходили в
  {% assign related = site.posts | where: "slug", "georgia-svaneti" | first %}<a href="{{ related.url | relative_url }}">пяти-дневный поход в Сванетии</a> (Местия-Джабеши-Ипари-Ушгули-Чвелпи). Это очень хороший умеренно лайтовый маршрут для похода с детьми (без детей в Грузии куча более технических маршрутов). Ночевать можно и нужно в деревнях, что исключает спальники-палатки-горелки из вещей в рюкзаке. Самый сложный день (Ушгули-Чвелпи): 22 км, набор от 2200 м до 3100 м, затем сброс до 1300 м.</p>

{% include post-image.html file="Day2-3.jpg" %}

<p>В большие горы ({% assign related = site.posts | where: "slug", "peru-cordillera-blanca" | first %}<a href="{{ related.url | relative_url }}">Cordillera Blanca, Перу</a>) мы Федю потащили когда ему почти исполнилось 2 года. Многие даже однодневные хайки требуют подъема на высоту больше 4000 м. Мы сами высоту не безумно хорошо переносим – сильно болели головой при восхождении на Монблан (4800 м) и вулкан Шаста (4400 м), поскольку не успели акклиматизироваться. Однако прочитав в научной литературе (а зачем ещё PhD?), что нет веских доказательств что дети переносят высоту хуже чем взрослые, решили правильно акклиматизироваться и идти.</p>
<p>Акклиматизировались так:<br />
День 1: ночной автобус из Лимы (0 м) в Huaraz, 3200 м.<br />
День 2: дневной выход на 3600 м (Wilcacocha), ночёвка на 3200 м.<br />
День 3: дневной выход на 3900 м, ночевка в Caraz, 2300 м.<br />
День 4: подъезд до 3200 м, дневной выход на 4200 м (laguna Paron), ночёвка на 2300 м.<br />
День 5: подъезд до 3800 м, дневной выход на 4600 м (laguna 69), ночёвка на 2300 м.<br />
День 6: днёвка, переезд обратно в Huaraz, 3200 м.<br />
День 7: подъезд до 3500 м, дневной выход на 4500 м (laguna Churup), ночёвка на 3200 м.<br />
В случае подъема на laguna Paron, laguna 69 и laguna Churup подъезжали на <em>collectivo</em> (маршрутке) с местными жителями.</p>
<p>В смысле высот, Федя всё отлично перенес: делал шкоды, смеялся, кушал, переводил подгузники как обычно. Правда, при восхождении на Churup был дождь, и Федя слегка подмёрз, но к горняшке это не имеет отношения.</p>

{% include post-image.html file="IMG_0363.jpg" %}

<p>Также в Перу мы ходили 5-дневный {% assign related = site.posts | where: "slug", "salkantay-trek-to-machu-picchu" | first %}<a href="{{ related.url | relative_url }}">трек до Маччу Пиччу через перевал Салкантай</a> (~80 км, максимальная высота 4600 м). За два дня мы доехали из Huaraz до Cusco (3500 м) на автобусах, поэтому акклиматизацию потерять не успели. Погуляв ещё пару дней в самом Cusco, мы были вполне готовы к тому чтобы подняться чуть больше 1000 метров по высоте. Это был замечательный горно-джунги-этно-поход, всё прошло по плану.</p>
<p>Основные моменты:</p>
<ul>
<li>Сначала главное – начинайте ходить в походы с ребенком с самого раннего возраста. Дальше он или она будет только тяжелеть 🙂</li>
<li>Феде в походах в целом весьма в кайф, гораздо лучше чем в четырёх стенах.</li>
<li>Сон отлично подстраивается под походный режим. Ночью Федя спит столько же, сколько и мы, а днем ещё два раза по 1-1.5 часа.</li>
<li>Не обнаружено проблем с высотами до 4600 м при правильной акклиматизации, выше не пробовали.</li>
<li>В многодневных походах желательно иметь много друзей чтобы поделиться чем-нибудь тяжелым или выходы в цивилизацию для пополнения запасов еды/топлива.</li>
<li>Хороший удобный походный рюкзак для ребенка (у нас Osprey Poco) – залог успеха.</li>
<li>Обязательно иметь много еды для перекусов – и для ребенка, и для родителей.</li>
<li>Дополнительные развлечения излишни – картинка вокруг меняется, обычно есть коровки, лошадки и прочие удовольствия. На привалах можно играть в камушки, палочки, водичку.</li>
</ul>
