---
layout: post
title:  Список снаряжения для велопутешествия
author: Oleg
---

<p>Для тех, кому интересно что и как мы возим :) Несмотря на увесистость списка, всё наше барахло включая велосипеды помещается в 4 места багажа по 23 кг + ручная кладь + Федино велокресло и переноска, которые он мог возить в самолёте бесплатно до двух лет. Выглядит всё вместе в собранном виде примерно так:</p>

{% include post-image.html file="all-packed.jpg" %}

<p><strong>Велосипедное:</strong> Велосипеды Novara Safari 2014, детское велосипедное кресло CoPilot Limo; Сумки: лучшие в мире от Олега (об этом будет отдельный пост): 6 сумок по 20 л, 2 по 40 л; Замки: 2 u-lock, 2 троса, 1 цепь. Вот так выглядят велосипеды в полном вооружении:</p>

{% include post-image.html file="geared_bikes.jpg" %}
  
<p><strong>Велосипедное продолжение:</strong> 2 запасные камеры, 2 запасные покрышки (28 x 1.75), ручной насос, клей, набор заплаток, 2 велосипедных чехла, шлемы, светоотражающие жилетки, накидки на рюкзаки кислотного цвета, перезаряжаемые задние фонарики и CREE LED передние фонари, два полуработающих велокомпьютера, Multi-tool, шестигранные ключи, съемник шатунов, съёмник кассеты, разводной ключ, винты M5, 4 спицы + много спицевых винтов (докупали т.к. винты начали лопаться пачками примерно через месяц после проезда по солончаку), вставки для передней вилки (для перевозки), запасные колодки, внутренний стержень оси, кусок тросика, самодельная (лёгкая) разводка цепи, запасные звенья цепи, жидкая смазка, густая смазка, перчатки, 2 эспандера </p>

{% include post-image.html file="gear-combined.jpg" %}

<p><strong>Общий ремнабор:</strong> Плоскогубцы, полотно по металлу, надфили, медная и стальная проволока, кусочки медной трубки, фастексы, застёжки, стропа, DUCT TAPE (ею можно отремонтировать всё), эпоксидная смола, резиновый клей 'Африкано' (сделано в Перу, мировых аналогов не имеет), швей-набор (нитки, иголки, заплатки).</p>

<p><strong>Аптека:</strong> Лактофильтрум (сорбент + пробиотик), Фестал, Смекта, Стопдиар, Делагил (от малярии вместе с доксициклином), Доксициклин (антибиотик и от малярии), Азитромицин (антибиотик широкого спектра действия), Кетанов 10 мг (болеутоляющее), Ибупрофен 400 мг (болеутоляющее, жаропонижающее), Цитрамон, Парацетамол, Упсарин УПСА, Ношпа (от спазмов), Супрастин (противовоаллергическое), Офломелид (обеззораживающая мазь, онтимент), Мюпиросин (онтимент), Стрептоцид, Мирамистин (антисептик), Детский нурофен, Детский називин, Взрослый називин, Взрослый пиносол, Санорин, CENTRUM (витамины), Cloritmazole (от грибка), Carmex (для заживления губ), ЙОКС (от горла), Регидрон (от обезвоживания), Аскорбинка, Помадка SPF 15, Крем от солнца SPF 55, Звездочка, Пластыри, Вата стерильная и бинты, Пластыри рулоном, Троксевазин, Репеллент от насекомых.</p>

<p><strong>Походное:</strong> Переноска для Феди (Osprey poco), походный рюкзак 80 л (Red Fox, ездит в сложенном состоянии). Палатка Red Fox Comfort 3. Спальники Red Fox Fantom (пуховые), комфорт 0°C, вес 800 г и 900 г. Коврики 2 надувных Thermarest Trail Scout + 1 пенка. Бензиновая горелка MSR SimmerLite, позднее заменили на MSR WhisperLite Universal (обе доставляет много хлопот так как нужно часто чистить, но обладают неоспоримым преимуществом - её можно заправить абсолютно везде). WD-40 (для очистки горелки и разбора велосипедных узлов). Кастрюля, сковородка, миски-контейнеры, ложки, нож, чашки.</p>

<p><strong>Одежда Олег:</strong> Треккинговые кроссовки, кроксы, Gore Tex куртка и штаны, Спортивные лосины, термобелье, 2 флиски (толстая и тонкая), 3 спортивных и 1 ХБ футболка, шорты, шапка, шарф, перчатки, носки, трусы, Комплект \'цивильной\' одежды (тонкие брюки, кофта, рубашка).</p>

<p><strong>Одежда Лера:</strong> Кроссовки (Adidas Galaxy Trail Running), сандалии (Merrell + vibram), GoreTex куртка и штаны (RedFox), Спортивные лосины (RedFox), шорты (Underarmour), 3 синтетические футболки, ветронепроницаемся полоска на голову (RedFox, на нее в отличии от шапки отлично налезает шлем), перчатки, 2 флиски разной степени теплости (RedFox &amp; Quechua), маленькая пуховка (Hardwear). Чтобы спать: 2 хб чтобы спать было уютнее + флисовые штаны. Для приемов у президентов: юбка, кофта, майка, штаны :)</p>

<p><strong>Одежда Федя:</strong> Водонепроницаемы костюм (штаны и куртка), пуховка, ветровка, свитер с капюшоном, флиска с капюшоном, зимние штаны, флисовые штаны, 3 пары тонких штанов, 4 футболки, 2 пары шерстфных и 4 пары обычных носков, сапоги crocs, ботинки, кроссовки, кроксы, шапка-шарф, варежки.</p>

<p><strong>Электроника:</strong> Фотоаппарат Canon 1000d, объектив Sigma 17-50 mm 1:2.8. Лёгкий ноутбук, планшет, 2 смартфона. Garmin GPS + батарейки. GoPro + крепления. 3 фонарика Petzl. 2 внешних аккумулятора, зарядки, провода</p>

<p><strong>Разное:</strong> Горшок + запас памперсов. Немного игрушек для Феди. 2 дневных рюкзачка. Большие мусорные пакеты. 3 клетчатых сумки \'китайский челночник\'. Сувенирная шапка из Перу. Как мы это всё возим с собой, для нас самих остаётся загадкой :)</p>

<h4>Выученные уроки</h4>
<p>Здесь, по мотивам путешествия мы хотим написать о тех вещах, которые были лишними, и о тех что сильно украшали нашу кочевую жизнь.</p>

<p><strong>Лишнее:</strong>
  <ul>
    <li>Рюкзак Osprey Poco - в велопутешествии, то есть 8 месяцев, мы пользовались рюкзаком только пару раз, а лишнего веса добавлял много.</li>
    <li>Походный рюкзак 80 л - вообще не использовали и отправили почтой домой из Сантьяго.</li>
    <li>Много запасных покрышек. В какой-то момент мы возили аж 4 штуки. Произошло это потому, что покрышки с которыми мы начинали были совсем не были предназначены для длительных грунтовок (ширина всего 35 мм) и быстро убились. Мы заменили плохие покрышки, а перед Аргентиной/Боливией купили ещё про запас. Они не понадобились, ведь дальше мы ехали почти все время по асфальту. Совет: ехать сразу на хороших покрышках шириной <strong>45 мм или более</strong>, например <strong>Schwalbe Marathon Plus</strong> - они неубиваемые. Возить 1 запасную покрышку на человека.</li>
    <li>Слишком много \'цивильной\' одежды. Вполне хватит одной хлопковой футболки/рубашки (остальные всё равно помнутся) и легких синтетических брюк (у меня есть тонкие легкие нейлоновые брюки - это очень удобно) или юбки если вы девочка.</li>
  </ul>
</p>

<p><strong>Необходимое</strong>
  <ul>
    <li><a href="https://www.amazon.com/Bike-Peddler-Cycling-Eyeglass-Compact/dp/B000AO7ETQ/ref=sr_1_6" target="_blank">Зеркало заднего вида</a> крепящееся на шлем. Это must have. Самая важная вещь в плане безопасности.</li>
    <li>WD-40. Для очистки горелки и ослабления винтов/гаек/итп.</li>
    <li>Набор винтов разных длин для обвески велосипеда. В нашем случае это не только M5 (стандартные) но и M6 для багажников. Метрические винты купить может быть сложно, к тому же нужны они часто именно \'в поле\'.</li>
    <li>Куски металлических трубок (у нас это были обрезки знаменитых карнизов для занавесок) + хомуты. Необходимо для временной починки багажника в полевых условиях.</li>
    <li>Gore-tex куртки и штаны в Патагонии - не столько от дождя, сколько от ветра.</li>
  </ul>
  </p>
