---
layout: post
title:  The Bay of Biscay
author: Oleg
---
<p>
    Мы находимся во Французском Бресте и нам предстоит трехдневный переход в открытом океане через весь Бискайский залив. Среди мореплавателей Бискай известен как очень сложная акватория. Здесь погодные системы приходящие через весь Атлантический Океан врезаются в континент, а высота волн может многократно усиливаться из-за континентального шельфа: глубина океана с нескольких километров резко меняется до всего пары сотен метров. Погода здесь непредсказуемая, а на случай непредвиденных обстоятельств вдоль побережья Франции практически нет безопасных гаваней куда можно прийти в плохую погоду. Мы, соответственно, чувствуем с одной стороны предвкушение океанского перехода, а с другой некоторую напряженность. Через пару дней вырисовывается погодное окно и нам нужно всё хорошо спланировать для успешного перехода. По прогнозу треть пути будет хороший западный ветер, потом зона безветрия, где предстоит идти под мотором, а потом на подходе к Галисии ветер сменится на восточный.
</p>
{% include post-image.html file="Biscay_map_small_marked.jpg" %}
<p>
    Ездим на великах по магазинам, заливаем топлива под завязку и переходим на дикую якорную стоянку в Roscanvel. Здесь также совершаем небольшой велопробег полуострову. Как и ожидалось, переправить 3 велосипеда на тузике на берег дело непростое. Но в награду за тяжелый физический труд, получаем спелый инжир на деревьях, пустые дороги и милые деревеньки, а какой-то проезжающий мимо француз остановился и подарил детям по плющевой игрушке. Рыбачим, Лера упускает огромного морского окуня. На следующий день небольшой переход в Camaret-sur-Mer: место старта будущего перехода. Здесь было бы здорово провести несколько дней да и вообще исследовать Атланичкское побережье Франции и север Испании. Но нужно торопиться, ведь у нас только 3 месяца Шенгена, да и погода осенью менее предсказуемая. Пока план к сентябрю оказаться в Гибралтаре.
</p>
<div class="collage-3">
  {% include post-image.html file="Collage_0_1.jpg" %}
  {% include post-image.html file="Collage_0_2.jpg" %}
  {% include post-image.html file="Collage_0_3.jpg" %}
</div>
<p>
    В Camaret на якоре есть серьёзно подготовленные лодки (они всегда выделяются), несколько под Норвежским флагом, предположительно тоже планируют идти через Бискай и мы едем познакомиться. И действительно, у них такой же план как и у нас, выходить завтра рано утром, это несомненно придаёт уверенности. На большинстве норвежских лодок родители с детьми. Они все встретились более-менее случайно в пути юг, и дальше на Карибские острова, естественным образом сгруппировались и образовали своего рода флотилию. Жаль, конечно, что так ненадолго посетили Францию, ну хоть багетами на дорожку закупились.
</p>
<div class="collage-3">
  {% include post-image.html file="Collage_3_1.jpg" %}
  {% include post-image.html file="Collage_3_3.jpg" %}
  {% include post-image.html file="Collage_3_4.jpg" %}
</div>
<p>
    Встаём затемно, моросит дождик и мы выходим с попутным течением. Перед тем как выйти на курс, нужно обойти гряду островов и подводных рифов. Мы и еще одна лодка обходим это безобразие с внешней стороны как и планировали, а Норвежцы почему-то изменили план - видимо хотят поймать течение в проливе рядом с Île de Sein - оно там может достигать 4-5 узлов. К полудню погода уже отличная, мы экспериментируем с парусами и идём стабильных 8-9 узлов бейдевинд под генуей, стакселем и гротом. Пока не вышли за границу континентального шельфа, настоящая океанская волна с большим периодом. Всех немного мутит, Антон даже поблевал разок, но после этого был как огурчик.
</p>
<div class="collage-2">
    {% include post-image.html file="Biscay03_Lera.jpg" %}
    {% include post-image.html file="Biscay04_sailing.jpg" %}
</div>
<p>
    По возможности даём друг другу отдохнуть перед ночной вахтой. Играем в шахматы, провожаем солнце на закате. На ночь ставим риф, чтобы если ветер поднимется не нужно было будить второго человека, так как для этого кому-то нужно идти к мачте. Стаксель можно скрутить в одиночку. У нас пока что действует правило, что если кто-то идет работать с парусами, нужно пристёгиваться и чтобы второй человек также был на палубе. Также следим за расходом батарейки. Автопилот, навигационные огни, компьютеры и холодильник довольно быстро её разряжают. Впоследствии мы сильно уменьшали отклик автопилота, это уменьшает расход электричества, а лодка и так рулится прекрасно если паруса правильно настроены. Пара навигационных огней тоже были с лампами накаливания и их замена на светодиодные сильно помогла.
</p>
<div class="collage-2">
    {% include post-image.html file="Biscay02.jpg" %}
    {% include post-image.html file="Biscay05.jpg" %}
</div>
<p>
    В какой-то момент ветер, как и обещалось, стихает и приходится включить движок. Шум мотора, конечно, немного портит идиллию. Но океан всё равно очень красивый. Без ветра мелкая рябь пропадает и вода становится как будто из ртути. Волна с длинным периодом при этом остаётся, и на это можно смотреть бесконечно. Цвет воды становится синим-синим, камера это совсем не передаёт. По договорённости с Юрой, запрашиваем у него прогноз погоды через спутниковый мессенджер Spot. Подтверждается, что ветер таки должен включиться, также подтверждается что надо разрабатывать более автоматизированную систему, которая не путает запад с востоком :)
</p>
<div class="collage-2">
    {% include post-image.html file="Biscay06.jpg" %}
    {% include post-image.html file="Biscay07.jpg" %}
</div>
<p>
    На третий день впереди появляется земля - тут, по традиции, нужно крикнуть 'land ho'. Мы держим путь в A Coruña в провинции Galicia, ветер хороший и время до прибытия пролетает незаметно. Итого переход в 350 морских миль занял 2 дня и 9 часов. Немного приходим в себя, едим, моемся и идём гулять. Как ни странно, сил в организме очень много - это, наверное, эйфория от перехода. Гуляние по городу затягивается до поздней ночи. И по улочкам красивым погуляли, и тапас съели, и мороженое. Попали на международный концерт танцевальных коллективов на главной площади и случайно забрели на какой-то камерный концерт с песнями под гитару в крепости святого Антона. Городок прекрасный. Возвращаемся на лодку уже по-настоящему уставшие.
</p>
<div class="collage-3">
    {% include post-image.html file="Collage_2_1.jpg" %}
    {% include post-image.html file="Collage_2_2.jpg" %}
    {% include post-image.html file="Collage_2_3.jpg" %}
</div>
  
<p>
    На следующий день приходит флотилия Норвежцев. Они из-за неисправности одной из лодок решили вчера причалить в предыдущем по пути городе. На понтоны вываливается толпа детей разных возрастов. Все шумной гурьбой чего-то обсуждают, потом собираются идти все вместе стирать, потом на футбол, и гулять по городу. С нами из приличия немного говорят по английски, но видно, что им конечно хочется говорить на своём языке в своей тусовке. Завидно, конечно, по-хорошему. Мы бы тоже не отказались организовать такую детскую флотилию с парой-тройкой лодок единомышленников. Есть желающие?
</p>
{% include post-image.html file="Biscay08.jpg" %}





