---
layout: post
title:  Half Light of Plymouth
author: Oleg
---

<p>
<i>
Had I the heavens’ embroidered cloths, <br>
Enwrought with golden and silver light, <br>
The blue and the dim and the dark cloths <br>
Of night and light and the half light, <br>
I would spread the cloths under your feet: <br>
But I, being poor, have only my dreams; <br>
I have spread my dreams under your feet; <br>
Tread softly because you tread on my dreams. <br>
--<b>W. B. Yeats</b>--
</i>
</p>

<p>
Летом 2023 года мы купили алюминиевую экспедиционную яхту 'Half Light of Plymouth' построенную на верфи Garcia по индивидуальному проекту. Вот её основные технические характеристики:
<OL>
    <LI>Материал корпуса (Hull material): 5083-H111 Alumninium</LI>
    <LI>Длина (LOA): 14.6 m (48 ft)</LI>
    <LI>Ширина (Beam): 4.4 m</LI>
    <LI>Осадка (Draft): 1.3 m/ 3 m (keel up/down)</LI>
    <LI>Водоизмещение (Displacement): 18,000 kg</LI>
    <LI>Год постройки (Build Year): 2002</LI>
    <LI>Парусное вооружение (Sail plan): Cutter Rig </LI>
    <LI>Двигатель (Engine): Volvo Penta D2-55</LI>
    <LI>Запас топлива (Fuel tank): 500 L</LI>
    <LI>Запас воды (Water tank): 2 x 250 L</LI>
    
</OL>
</p>

{% include post-image.html file="half_light_sketch_notext2.jpg" %}

<p>У каждого корабля есть история, и наша яхта не исключение. Её строил для себя известный французский яхтсмен по имени Bernard Deguy, работавший с Жаком Кусто! первым капитаном на судне <a href="https://en.wikipedia.org/wiki/Alcyone_(1985_ship)">Alycone</a> (интересным ещё и тем, что на нем испытывалась новая система <a href = "https://en.wikipedia.org/wiki/Turbosail">'турбопарусов'</a>), а также участник кругосветной парусной регаты Whitbread Race (сейчас The Volvo Ocean Race) на яхте Pen Duick VI с <a href="https://en.wikipedia.org/wiki/%C3%89ric_Tabarly">Éric Tabarly</a>, и позже капитаном на яхте <a href="https://oceangloberace.com/entrants/neptune/">Neptune</a> в 1977. (Neptune также участвовала в Ocean Globe Race в 2023). Наша лодка спроектирована тем же архитектором (André Mauric), что и Neptune. Построена она была на верфи Garcia и спущена на воду в 2002 году. В общем, сплошные легенды французского яхтостроения и мореплавания.</p>

{% include post-image.html file="collage_bernard_deguy_neptune_alycone.jpg" %}

<p>
При постройке и оборудовании каждой конкретной модели яхт неизбежен компромисс между мореходными качествами, сложностью систем, удобством, надёжностью, ценой, безопасностью и так далее. Half Light построена надёжно и очень практично. Она прекрасно управляется под парусами без помощи электрических лебедок, хорошо идёт под экономичным и тихим мотором. В носу и в корме есть герметичные отсеки на случай столкновения с плавающими предметами (а по нынешным временам и с косатками). Внутри и на палубе все просто, удобно и без лишних наворотов - как и должно быть.
</p>

{% include post-image.html file="DJI_0253.JPG" %}

<p>
В 2009 лодку купила французская пара для своих проектов в Норвегии, а в 2017 англичанин Чарльз, у которого её уже купили мы. Чарльз - настоящий англичанин (в моём понимании) - честный, добродушный, очень ответственный и с прекрасным чувством юмора. В молодости пересекал Атлатнику в одиночку с пластиковым секстантом. Очень крепкий несмотря на возраст. Это он назвал лодку 'Half Light' (см. эпиграф), до этого она носила имя Osiris. Чарли любил свою лодку, много чего обновил, и укомплектовал, а когда я приехал смотреть, всё подробно показал и рассказал. Мы с ним поддерживаем связь, надеемся он может быть даже приедет в гости на переход. А пока прозвали наш автопилот 'Lazy Charles'.
</p>

{% include post-image.html file="with_charles.JPG" %}

<p>
Обязательной частью программы был survey (технический осмотр, который я заказывал отдельно). Тут всё тоже без сюрпризов, сюрвеер оказался добросовестным, а по состоянию лодки дал много дельных, но, к счастью, мелких замечаний. Сюрвей нужен не только для уверенности покупателя, но еще и для получения страховки, которую всё равно найти оказалось не просто. У мировой бюрократической машины случается заклин если у тебя паспорт одной страны, флаг другой, а ходить под парусом ты хочешь в третьей. Мы оставили Британскую регистрацию, и ходим, соответсвенно, под Британским флагом. Называется Red Ensign, выглядит от вот так:
</p>

{% include post-image.html file="red ensign.jpg" %}

<p>
Чарли продавал нам лодку со всеми удобствами - постельное бельё, посуда, инструменты, запчасти и прочее, всё уже было на борту. Внутри у нас есть большинство базовых элементов комфорта для автономного быта: уютные спальные места в каютах, плита и духовка с запасом газа на пару месяцев, два вместительных холодильника, солнечные панели и аккумуляторы большой ёмкости для питания всех систем, и даже дизельная печка для холодной погоды. Туалет (гальюн) только один, правда он нам к сожалению доставил немало хлопот. Места для хранения различного барахла, кажется, бесконечно. Мы привезли с собой 3 велосипеда, кучу детских книг и игр, всякие ролики-самокаты и всё прекрасно поместилось.
</p>

{% include post-image.html file="half_light_interior.jpg" %}

<p>
Яхта - это большой набор сложных систем, постоянно что-то требует обслуживания или ремонта. Некоторые системы пришлось добавить или улучшить под наши нужны. Так или иначе к большинству систем на борту мне уже посчасливилось приложить руки. Обычно это происходит в позе йоги в каком-нибудь очень тесном замкнутом пространстве. Вот неполный список 'больших' проектов на момент конца 2025 года (список мелких никогда не заканчивается):
<OL>
<LI>Установка изоляционного трансформатора</LI>
<LI>Установка бачка и труб для отходов из туалета</LI>
<LI>Замена гидравлики для натяжения бакштага</LI>
<LI>Электрическая проводка: STARLINK, якорный фонарь, AIS, доп. розетки и освещение</LI>
<LI>Ремонт и настройка тросов управления пером руля</LI>
<LI>Замена расходников и регулировка двигателя, замена тахометра</LI>
<LI>Капитальный ремонт и замена помпы забортной воды</LI>
<LI>Обслуживание навесного мотора, заплатки на тузике</LI>
<LI>Обслуживание 5 лебедок</LI>
<LI>Очистка баков и труб для воды</LI>
<LI>Капитальный ремонт туалета</LI>
<LI>Ремонт швов на пробковой палубе</LI>
<LI>Замена анодов, чистка подводной части корпуса</LI>
<LI>И т. д. и т. п....</LI>
</OL>

Для некоторых проектов вроде покраски необрастайкой, осмотра такелажа и замены втулки на валу приходилось нанимать 'профессионалов' у которых жопыта больше. В 100% случаев не обошлось без косяков. Короче, когда делаешь не сам, то надо либо стоять над душой и смотреть за каждым движением умельцев, либо будешь потом переделывать. Также бывают проблемы с заказом специальных запчастей и деталей. В США и Англии большой выбор и быстрая доставка. А вот в ЕС с этим значительно хуже, особенно если у тебя нет постоянного адреса. При возможности закупаемся впрок.
</p>


