---
layout: post
title:  Croatia
author: Oleg
---
<p>
  Мы много слышали и читали о Хорватии как об одном из лучших мест для яхтинга в Средиземноморье. (Для зануд, да - это, конечно, Адриатика, но если широкими мазками...) Не успев зайти сюда в предыдущем сезоне, мы запланировали посещение Хорватии первым делом после зимовки в Черногории, благо тут рукой подать. У наших друзей Закгеймов Мити, Машки и Наташки, живущих в Израиле, как раз в начале апреля были каникулы, которые они были не прочь провести с нами. В Хорватии большое количество островов, и,соответственно, защищённых стоянок для любой погоды, и можно много чего посмотреть маленькими дневными переходами, что было очень кстати, поскольку кое-кто из гостей боялся что плохо будет переносить качку.
</p>
{% include post-image.html file="porto_montenegro.jpg" %}
<p>
  В день прилёта гостей разразился шторм, и аэропорт не принимал самолёты. В итоге добрались друзья только вечером. Как обычно бывает, встречаться в новой для всех обстановке это полный сюр, который мы хорошо отметили! Всё следующее утро доготавливали лодку к выходу. Я был в небольшом напряжении, проверяя, что системы работают после долгой зимы. Успешно вышли, заправились дизелем под завязку и сделали небольшой тестовый переход под мотором от Тивата до Котора - с потрясающими видами. Встали на якоре у Которской крепости, погуляли по городу, съели мороженого и пораньше легли спать, ведь вставать посреди ночи - надо за следующий день успеть дойти до Дубровника и пройти все бумажные формальности на выход и на вход. К слову, ночью обещалась температура до -1 по Цельсию, а на близлежащих горах вообще выпал снег, но никто не замерз даже без дизельной печки.
</p>
<div class="collage-2">
  {% include post-image.html file="collage2_1.jpg" %}
  {% include post-image.html file="collage2_2.jpg" %} 
</div>
<p>
  В день большого перехода был попутный ветер полпути до Дубровника, остальное прошли под мотором. И о чудо, Машку не укачивало, да и вообще ребята получали кайф от всего происходящего. За следующие несколько дней мы посетили острова Koločep, Otok Šipan и Mljet. Мы много гуляли, делали небольшие переходы между разными стоянками, купались в холодной воде, и конечно не забывали вкусненько выпить и закусить. Неделя прошла 'на пять с плюсом'! 
</p>
<div class="collage-2">
  {% include post-image.html file="collage1_1.jpg" %}
  {% include post-image.html file="collage1_2.jpg" %} 
</div>
<BR>
<div class="collage-2">
  {% include post-image.html file="collage6_1.jpg" %}
  {% include post-image.html file="collage6_2.jpg" %} 
</div>
<p>
  Одним из главных приятных момнетов было то, что Федя и Наташка были полностью поглощены друг другом, и вместо выслушивания обычных 'мааам' и (более редких) 'пааап' можно было наслаждаться нормальным взрослым общением. На прогулках тоже не было нытья про то что кто-то устал, Федя с Наташкой болтали всю дорогу без остановки. Слабым звеном был Антон, который уставал столько ходить и мне иногда приходилось этого кабанчика носить на руках. А друзья не давали нам отдыха, поскольку начинали готовиться к 500-километровому пешему маршруту в Непальских Гималаях.
</p>
<div class="collage-2">
  {% include post-image.html file="collage_3_1.jpg" %}
  {% include post-image.html file="collage_3_2.jpg" %} 
</div>
<p>
  Начало апреля - это еще не сезон. Людей и яхт совсем мало, стоянки пустые и бесплатные. И при этом уже во всю просыпается природа. Это наверное лучшее время для посещения. Но чувствуется, что в сезон тут начинается хаос. Так, например, на острове Mljet стоянка на якоре стоит 100 евро в день плюс еще столько же за вход в парк - мы такой дичи нигде не видели. На всех пляжах тоже готовятся к сезону выставляя штабели лежаков. Должно быть летом тут так себе атмосфера.
</p>

{% include post-image.html file="with_wine.jpg" %}

<p>
  Проводив Закгеймов, мы за длинный дневной и частично ночной переход перешли в Сплит убегая от приближающегося шторма. Куковали на якоре с порывам ветра до 40 узлов, а когда немного стихало устраивали экспедиции на берег - мотор у нашего тузика слабый всего три лошадиных силы и выгребать против ветра и волны было непросто. В сплите большой зеленый парк на холме, там катались на роликах и самокатах. А вот сам старый город, хоть и симпатичный, полностью превратился в туристическую игрушку. Никакого шарма мы тут не увидели. Большой контраст с Корфу, например, в который мы зашли месяцем позже. Сначала переживали, что не успели посмотреть Дубровник из-за сложной логистики, но после Сплита успокоились и решили Дубровник пропустить. К тому же Черногорский Котор или Будва это, в общем-то, тоже самое.
</p>
<div class="collage-2">
  {% include post-image.html file="collage_4_dji1.jpg" %}
  {% include post-image.html file="collage_4_dji2.jpg" %} 
</div>
<p>
  Был у нас ещё план сгонять в Венецию не несколько дней, но погода не кооперировала, а слишком много шенгена тратить тоже не хотелось. Так что после шторма мы пошли из Сплита за несколько дней обратно в Черногорию. Ночевали ещё в паре приятных заливов, наконец протестировали Геннакер а также стоянку на якоре с оттяжкой на берег. 'Вау-эффект' от захода в Боко-Которскую бухту всё ещё работает!
</p>

