.gt3_input_text {
    width: 100%;
}

.gt3_page_option {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 17px;
}

.gt3_page_option:last-child {
    border-bottom: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.gt3_page_option textarea {
    width: 100%;
    height: 90px;
}

.gt3_page_option input {
    width: 100%;
    margin-bottom: 13px;
}

.gt3_page_option textarea {
    margin-bottom: 13px;
}

.gt3_page_option input:last-child, .gt3_page_option textarea:last-child {
    margin-bottom: 0;
}

.post_format_admin_option_cont {
    display: none;
}