@import url("base.css");
@import url("font-awesome.min.css");

/*
[Master Stylesheet]
Project: Neverland

[Table of contents]
1. WordPress Core
2. Header
3. Menu
4. Footer
5. Content

*/

/* WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
    clear: both;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    clear: both;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    padding: 10px 4px 5px;
}

.dn {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    color: #9da1ad;
    font-size: 14px;
    line-height: 21px;
    background: #ffffff;
}

body,
html {
    overflow-x: hidden !important;
}

p {
    margin: 0 0 18px 0;
    padding: 0;
}

a {
    color: #9da1ad;
    outline: none;
	text-decoration:none;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

img {
    vertical-align: top;
    outline: none;
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

iframe {
    max-width: 100%;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0
}

ul.nolist, .sidepanel ul, footer ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul.nolist li, footer li, .sidepanel li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 7px;
    text-align: center;
    border: 1px solid #cecece;
}

/* Header */
header {
    margin-top: 0;
    margin-bottom: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	-o-background-size:      cover;
	background-size:         cover;
}

.logo {
    clear: both;
    padding-top: 80px;
	padding-bottom: 247px;
}

.logo a {
    display: block;
    margin: 0 auto;
}

.gt3_socials {
    margin-top: 17px;
}

.gt3_socials a {
    margin-left: 17px;
	
	-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
}

.gt3_socials a:first-child {
    margin-left: 0;
}

.gt3_socials i {
    font-size: 15px;
    color: #fff;
}

.gt3_socials a:hover {
    opacity: 0.7;
}

/* Menu */
header .menu li {
    position: relative;
}

header .menu > li {
    display: inline-block;
    margin-right: 30px;
}

header .menu li a{
    display:block;
	padding-top:17px;
	padding-bottom:12px;
	text-transform: uppercase;
	font-weight:700;
	font-size: 13px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
	letter-spacing:0.5px;
}
header .menu > li > a{position:relative;}
header .menu > li > a:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	height:0;
	
	-webkit-transition: height 0.2s ease-in-out;
			transition: height 0.2s ease-in-out;
}

header .menu > li:hover a:before,
header .menu > li.current_page_item > a:before,
header .menu li.current-menu-ancestor > a:before,
header .menu li.current-menu-item > a:before{
    height:4px;
}

header .sub-menu {
    visibility: hidden;
    position: absolute;
    padding:15px 0 5px;
    top: 73px;
    left: 50%;
    margin-left: -95px;
	width:190px;
	opacity:0;
	background-color:#fff;
	
	-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

header .menu li:hover > .sub-menu {
    visibility:visible;
    z-index: 30000;
	top:53px;
	opacity:1;
}

header .sub-menu li{
    padding-bottom: 10px;
}

header li a i.fa {
    display: none;
}

header .sub-menu li.menu-item-has-children > a i {
    margin-left: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
}

header .menu li .sub-menu a {
    display: block;
	padding:0 20px;
    text-transform: none;
	font-weight:400;
	line-height:20px;
	font-size:14px;
	color:#9da1ad;
}

header .sub-menu .sub-menu {
    left: 100%;
    margin-left: 0;
    top: -13px !important;
}

.error404 .tiny_contentarea {
    padding-top:41px;
	padding-bottom:54px;
	text-align:center;
}

.error404 h1{
    font-weight:700;
	margin:0 0 47px;
	font-size: 200px;
    line-height: 160px;
    text-align: center;
}

.error404 h2{
	text-align: center;
    display: inline-block;
	vertical-align:top;
	margin:0 0 20px;
    line-height:30px;
	font-size: 30px;
}

.error404 h3{
    text-transform:none;
	font-weight:400;
	margin:0 0 24px;
	line-height:21px;
	font-size:14px;
	color:#9da1ad;
}

button:focus, .stand_slide:focus, input:focus {
    outline: 0;
}

.content .sidepanel.widget_search{margin-bottom:32px;}
.widget_search .search_form{
	position:relative;
}
.widget_search .search_form:before{
	content: "\f002";
	position:absolute;
	top:0;
	right:0;
	width:42px;
	height:35px;
	font-family: 'FontAwesome';
	line-height:35px;
	font-size:14px;
	text-align:center;
}
.search_form input{
	font-size: 13px;
}

.tiny_contentarea .search_form {
    padding-top: 13px;
}

.tiny_contentarea .search_form input[type=text] {
    border: 2px solid #e9f1f2;
    border-radius: 2px;
    padding: 7px 0;
    text-indent: 15px;
    width: 34%;
	height:17px;
}

.tiny_contentarea .search_form input[type=submit] {
    display:inline-block;
	vertical-align:top;
	margin-left: 16px;
	padding:7px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:700;
	letter-spacing: 0.5px;
    line-height:20px;
	font-size: 13px;
	color:#fff;
    border-radius:2px;
	border:0;
	
	-webkit-transition: background-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out;
}

.tiny_contentarea .search_form input[type=submit]:hover{
    color: #ffffff;
}

.recent_posts_content {
    position: relative;
    line-height: 13px;
    min-height: 60px;
    padding-bottom: 20px;
}

.with_img .recent_posts_content {
    padding-left: 80px;
}

.recent_posts_content img {
    position: absolute;
    top: 0;
    left: 0;
}

.recent_posts_content a {
    margin-bottom:6px;
	font-weight:700;
	line-height:20px;
	font-size:14px;
}

.recent_posts_info {
    font-size: 13px;
    padding-top: 9px;
}

.mc_form_inside label {
    display: none;
}

.mc_form_inside .mc_input {
    background-color: transparent !important;
    border: 1px solid #666666 !important;
    margin-top: 0;
}

footer .mc_form_inside .mc_input {
    color: #ffffff;
}

textarea:focus {
    outline: 0;
}

body .jr-insta-thumb ul.thumbnails li a {
    display: block;
}

.jr-insta-thumb ul.thumbnails li img {
    -webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
}
.jr-insta-thumb ul.thumbnails li img:hover{
	opacity:0.85;
}

/* Footer */
footer {
    margin-top: 40px;
}


/* Instagram Block */
footer .jr-insta-thumb ul.thumbnails li{
	margin:0;
}
body footer .jr-insta-thumb ul.thumbnails li a{
	margin:0;
}
footer .jr-insta-thumb ul.thumbnails.jr_col_1 li { width: 100% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_2 li { width: 50% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_3 li { width: 33.33% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_4 li { width: 25%  !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_5 li { width: 20%  !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_6 li { width: 16.66% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_7 li { width: 14.28% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_8 li { width: 12.5% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_9 li { width: 11.11% !important; }
footer .jr-insta-thumb ul.thumbnails.jr_col_10 li { width: 10% !important; }

/* Instagram Carousel */
.owl-carousel .owl-stage-outer{height:208px;}


.copyblock,
.footer_site_descr{
    padding: 22px 0;
}


/* Content */

.content {
    padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-size: 26px;
    line-height: 26px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
}

h5 {
    font-size: 16px;
    line-height: 16px;
}

h6 {
    font-size: 13px;
    line-height: 13px;
}

.entry-title {
    text-align: center;
}

.entry-title h1 {
    margin:0 0 25px;
	line-height:30px;
	font-size:30px;
}

blockquote {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 30px;
    border-left: 2px solid;
}

.tiny_contentarea ol {
    padding-left: 23px;
}

.tiny_contentarea ul, .tiny_contentarea ol {
    padding-left: 50px;
}

.tiny_contentarea ul ul, .tiny_contentarea ol ol, .tiny_contentarea ul ol, .tiny_contentarea ol ul {
    padding-left: 25px;
    margin-top: 8px;
}

.tiny_contentarea li {
    margin-bottom: 8px;
}

pre {
    word-wrap: break-word;
}

.tac {
    text-align: center;
}

.post_featured_image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.postformats_cont {
    text-align: center;
}

.postformats_cont.gt3_pf_audio {
    margin-bottom: 15px !important;
}

.single-post .entry-title {
    padding-bottom: 9px;
}

.single-post .entry-title h1 {
    margin: 0;
}

.the_category{
	padding-bottom:11px;
}

.the_category a{
    display:inline-block;
	vertical-align:top;
	height:16px;
	padding:0 4px 1px;
	text-transform:uppercase;
	font-weight:700;
	line-height:16px;
	font-size:12px;
	color:#fff;
	letter-spacing:0.5px;
	border-radius:2px;
}

.the_category a:hover{
    color: #fff;
	background-color:#9da1ad;
}

.single .the_category{text-align:center;}

.post_meta {
    text-transform:uppercase;
	font-weight:700;
	font-size: 12px;
	text-align:center;
	letter-spacing:0.5px;
}

.single .post_meta{
	padding-bottom:18px;
}

.post_meta a:hover{
    color:#9da1ad;
}

.meta_dib {
    display: inline-block;
	vertical-align:top;
    padding:0 9px;
}

.tiny_contentarea p{
	margin-bottom:9px;
}

.tiny_contentarea p:last-child {
    margin-bottom: 0;
}

.tiny_contentarea:after {
    content: "";
    display: block;
    clear: both;
}

.share_block{
	margin-bottom:40px;
	text-align:center;
}
.share_block a{
    display:inline-block;
	vertical-align:top;
	margin:0 4px;
	color:#9da1ad;
}

.share_block .fa-facebook-square:hover{color: #5567a9;}
.share_block .fa-twitter-square:hover{color: #61abea;}
.share_block .fa-google-plus-square:hover{color: #be4a39;}
.share_block .fa-pinterest-square:hover{color: #cb2027;}

.share_block i {
    display:block;
    line-height:;
	font-size: 15px;
	
	-webkit-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
}

.share_block i:hover {
    color: #000;
}

#comments {
    clear: both;
	margin-bottom:36px;
}

.single_post_navigation a{
    display: block;
    padding: 0 4px;
	text-transform:uppercase;
	font-weight:700;
	font-size: 13px;
    line-height: 18px;
    color:#9da1ad;
	letter-spacing:0.5px;
}
.single_post_navigation a i{
	display:inline-block;
	vertical-align:top;
	line-height:18px;
}

.single_post_navigation .fleft a i{margin-right:9px;}
.single_post_navigation .fright a i{margin-left:9px;}

.featured_items .entry-title h1 {
    font-size: 20px;
    line-height: 22px;
}

.featured_items .featured_image {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

.single-post .featured_items .entry-title {
    padding-bottom: 0;
}

.single-post .featured_items .post_meta {
    padding-bottom: 4px;
}

.single .featured_items .postformats_cont{
    margin-bottom:0;
}

.featured_items h1 {
    transition: all 0.2s;
}

.postcomment {
    margin:0 0 22px;
	font-size:18px;
	line-height:30px;
	letter-spacing:0.5px;
}

.commentlist{margin-bottom:22px !important;}

.stand_comment {
    position: relative;
	display:inline-block;
	vertical-align:top;
	margin-bottom:20px;
	padding:18px 18px;
	border:2px solid #e9f1f2;
	border-radius:2px;
}

.children .stand_comment {
    margin-bottom: 20px;
}

.stand_comment .thiscommentbody {
    padding-left: 70px;
}

.stand_comment .thiscommentbody p:last-child{
    margin:0;
}

.stand_comment .commentava {
    overflow:hidden;
	position: absolute;
    top: 18px;
    left: 18px;
	border-radius:50px;
}

.stand_comment .commentava img{
	border-radius:50%;
}

.author_name{
	display:inline-block;
	vertical-align:top;
}
.author_name b{
    display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-weight:700;
	line-height:22px;
	font-size:13px;
	color:#9da1ad;
}
.author_name a{
    font-weight:400;
}

.stand_comment .thiscommentbody .date {
    display:inline-block;
	vertical-align:top;
	padding-left: 17px;
	text-transform:uppercase;
	font-weight:700;
	line-height:22px;
	font-size:13px;
	color:#9da1ad;
}

.comment_info {
    margin-bottom: 8px;
}

.comment-reply-link {
    display:inline-block;
	vertical-align:top;
	margin-left:20px;
	line-height:22px;
	color:#9da1ad;
}

.comment .comment-respond {
    padding-bottom: 40px;
}

.form-submit {
    margin-bottom: 0;
}

.comment-reply-title {
    margin:0 0 22px;
	font-size:18px;
	line-height:30px;
	letter-spacing:0.5px;
}

.comment-form input[type=text], .comment-form textarea {
    width: 99.5%;
	height:17px;
	margin-bottom:10px;
    border: 2px solid #e9f1f2;
    padding: 7px 0;
	color:#9da1ad;
    text-indent: 15px;
	border-radius:2px;
}

.comment-form input[name=author]{
	width:49%;
	margin-right:6px;
}
.comment-form input[name=email]{
	width:48.6%;
}

.comment-form textarea {
    min-height: 130px;
	resize:none;
}

.comment-form .submit{
    display:inline-block;
	vertical-align:top;
	width:auto;
	margin:0;
	padding:8px 20px 7px;
	text-transform:uppercase;
	font-weight:700;
	line-height:20px;
	font-size:13px;
	color:#fff;
	cursor:pointer;
	border:0;
	border-radius:2px;
	
	-webkit-transition: background-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out;
}
.comment-form .submit:hover{
    color: #fff;
}

.logged-in-as {
    margin-bottom: 14px;
}

.comment-form .submit {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 9px 22px;
    transition: all 0.3s;
}

.comment-form .submit:hover {
    background-color: #333333;
    color: #ffffff;
}

.content.right_sidebar, .content.left_sidebar {
    border-top: none;
    padding-top: 80px;
}

.left-sidebar-block {
    float: left;
    margin-left: 0 !important;
}

.row .span3.right-sidebar-block,
.row .span3.left-sidebar-block{
	width:300px;
	margin-left:40px;
}

.left_sidebar .content_block {
    float: right;
}

.left_sidebar .content_block,
.right_sidebar .content_block{
    width:830px;
}

.content .sidepanel {
    margin-bottom:25px;
}

.content .sidepanel .title {
    margin:0 0 22px;
	text-transform:uppercase;
	font-weight:700;
	line-height:24px;
	font-size:13px;
	text-align:center;
	letter-spacing:0.5px;
}

.content .sidepanel:first-child  .title{
    margin-top:-8px;
}

.content .sidepanel select {
    max-width: 100%;
}

.widget_rss li {
    margin-bottom: 20px;
}

.widget_rss li:last-child {
    margin-bottom: 0;
}

.widget_rss cite {
    text-align: right;
    display: inline-block;
    width: 100%;
}

.sidepanel input[type=text] {
    width: 98%;
	height:17px;
    border: 2px solid #e9f1f2;
    padding: 7px 0;
	color:#9da1ad;
    text-indent: 15px;
	border-radius:2px;
}

.sidepanel input[type=submit] {
    display: none;
}

.wp-caption-text {
    text-align: center;
    margin: 7px 0;
}

.sidepanel select {
    width: 100%;
}

.content .widget_categories li,
.content .widget_archive li,
.content .widget_pages li,
.content .widget_meta li,
.content .widget_recent_comments li,
.content .widget_recent_entries li,
.content .widget_nav_menu li {
    margin-bottom: 10px;
}

.content .widget_categories ul,
.content .widget_archive ul,
.content .widget_pages ul,
.content .widget_meta ul,
.content .widget_recent_comments ul,
.content .widget_recent_entries ul,
.content .widget_nav_menu ul {
    margin-top: -7px;
}

.content .widget_categories li,
.content .widget_archive li,
.content .widget_pages li,
.content .widget_meta li,
.content .widget_recent_comments li,
.content .widget_recent_entries li,
.content .widget_nav_menu li {
    margin-bottom: 10px;
}

.widget_nav_menu .sub-menu {
    margin-top: 7px;
}

.widget_nav_menu ul > li:last-child {
    margin-bottom: 0;
}

.widget_tag_cloud a {
    display: inline-block;
    vertical-align:top;
	margin:0 6px 10px 0;
	padding: 3px 8px;
    text-decoration: none;
    line-height: 20px;
	font-size: 13px !important;
    color: #9da1ad;
	border: 2px solid #e9f1f2;
	border-radius:2px;
	
	-webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
			transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.widget_tag_cloud a:hover {
    color: #fff;
}

.widget_text img{
	margin-bottom:14px;
}

.flickr_widget_wrapper{
	margin:0 -8px -8px 0;
}
.flickr_badge_image{
	display:inline-block;
	vertical-align:top;
	margin:0 8px 8px 0;
	width:69px;
}
.flickr_badge_image img{
	-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
}
.flickr_badge_image:hover img{opacity:0.85;}

.sidepanel > ul > li:last-child {
    margin-bottom: 0;
}

.single-format-link .entry-title, .single-format-quote .entry-title {
    display: none;
}

.single-format-link .featured_items .entry-title, .single-format-quote .featured_items .entry-title {
    display: block;
}

.postformats_cont.gt3_pf_link, .postformats_cont.gt3_pf_quote {
    padding: 40px 50px 45px 50px;
	text-align:left;
	border:2px solid #e9f1f2;
	border-radius:2px;
}

.postformats_cont.gt3_pf_link a.title_link, .postformats_cont.gt3_pf_quote a.title_link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.main_color_text_hover {
    transition: color 0.3s;
}

.postformats_cont.gt3_pf_quote {
    padding: 40px 50px 45px 50px;
	border:2px solid #e9f1f2;
	border-radius:2px;
}

.postformats_cont.gt3_pf_link .entry-title-pformat, .postformats_cont.gt3_pf_quote .entry-title-pformat {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 13px;
}

.postformats_cont.gt3_pf_link a, .postformats_cont.gt3_pf_quote a {
    font-size: 13px;
}

.postformats_cont.gt3_pf_link a.post_format_link_href, .postformats_cont.gt3_pf_quote a.post_format_link_href {
    font-weight:700;
	font-size: 16px;
}

.postformats_cont.gt3_pf_link i, .postformats_cont.gt3_pf_quote i {
    position: absolute;
    top: 48px;
    left: 50px;
    font-size: 50px;
}

.postformats_cont.gt3_pf_quote .entry-title-pformat {
    margin-bottom: 0;
}

.postformats_cont.gt3_pf_quote .pformat-top-cont {
    min-height: 62px;
}

.page .tiny_contentarea {
    margin-bottom: 0;
}

.right_sidebar .post_featured_image, .left_sidebar .post_featured_image {
    margin-top: 0;
}

.comment-notes {
    margin-bottom: 15px;
}

.wpcf7-form p{margin-bottom:10px;}
.wpcf7-form p:nth-child(3),
.wpcf7-form p:nth-child(4){
	display:inline-block;
	vertical-align:top;
	width:47.98%;
}
.wpcf7-form p:nth-child(3){
	margin-right:25px;
}
.wpcf7-form input, .wpcf7-form textarea {
    width:97%;
	padding:8px 15px 7px;
	color:#9da1ad;
	border:2px solid #e9f1f2;
	border-radius:2px;
}

.wpcf7-form .wpcf7-submit {
    display:inline-block;
	vertical-align:top;
	width:auto;
	margin:0;
	padding:8px 20px 7px;
	text-transform:uppercase;
	font-weight:700;
	line-height:20px;
	font-size:13px;
	color:#fff;
	cursor:pointer;
	border:0;
	border-radius:2px;
	
	-webkit-transition: background-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out;
}

.wpcf7-submit:hover{
    color: #ffffff;
}

.wpcf7-response-output {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 7px !important;
    border-width: 1px !important;
    width: 97% !important;
    padding: 10px 1.5% !important;
}

.stand_post .post_excerpt{
    margin-bottom: 7px;
}

.post_content{
	position:relative;
	z-index:3;
	margin:-40px 20px 0;
	padding:20px 20px 14px;
	text-align:center;
	box-shadow:0 15px 50px rgba(0,0,0,0.05);
	background-color:#fff;
	
	-webkit-transition: box-shadow 0.2s ease-in-out;
			transition: box-shadow 0.2s ease-in-out;
}

.stand_post:hover .post_content{
	box-shadow:0 15px 50px rgba(0,0,0,0.07);
}

.stand_post .entry-title h1{
    margin:0 0 7px;
	text-transform:uppercase;
	font-weight:700;
	line-height:30px;
	font-size:20px;
	letter-spacing:0.6px;
	
	-webkit-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
}

.pformat-quote-author {
    margin-bottom: 10px;
}

.gt3_pf_quote, .gt3_pf_link {
    margin-bottom: 10px;
}

.single .gt3_pf_quote, .single .gt3_pf_link {
    margin-bottom: 27px;
}

.gt3_pf_quote hr, .gt3_pf_link hr {
    border: none;
    border-bottom: 1px solid #666666;
    margin-top: 30px;
    margin-bottom: 25px;
}

.gt3_pf_quote .post_meta, .gt3_pf_quote .post_meta a, .gt3_pf_link .post_meta, .gt3_pf_link .post_meta a {
    color: #ffffff;
    font-size: 13px;
}

.gt3_pf_quote .the_category, .gt3_pf_link .the_category {
    margin-top: 15px;
    margin-bottom: 10px;
}

.pagerblock {
    position: relative;
    clear: both;
	padding-top:36px;
	text-align:center;
	border-top:2px solid #e9f1f2;
}

body.blog .left-sidebar-block,
body.archive .left-sidebar-block,
body.search .left-sidebar-block{
   display:none;
}

.pagerblock li {
    display: inline-block;
	vertical-align:top;
}

.pagerblock li a{
    display: block;
    padding: 0 4px;
	text-transform:uppercase;
	font-weight:700;
	font-size: 13px;
    line-height: 18px;
    color:#9da1ad;
	letter-spacing:0.5px;
}

.pagerblock li.newer_posts,
.pagerblock li.older_posts{
	position:absolute;
	top:36px;
}
.pagerblock li.newer_posts{left:0;}
.pagerblock li.older_posts{right:0;}

.pagerblock li a i{
	display:inline-block;
	vertical-align:top;
	line-height:18px;
}

.pagerblock li.newer_posts a i{margin-right:9px;}
.pagerblock li.older_posts a i{margin-left:9px;}

.blog_grid_style .comment-respond {
    margin-top: 35px;
}

.blog_grid_style .postformats_cont.gt3_pf_quote .entry-title-pformat, .blog_grid_style .postformats_cont.gt3_pf_link .entry-title-pformat {
    font-size: 20px;
    line-height: 30px;
}

.blog_grid_style .postformats_cont.gt3_pf_quote, .blog_grid_style .postformats_cont.gt3_pf_link {
    padding-left: 50px;
    padding-top: 95px;
    padding-bottom: 20px;
}

.blog_grid_style .postformats_cont.gt3_pf_quote i, .blog_grid_style .postformats_cont.gt3_pf_link i {
    top: 30px;
}

.stand_post{
    margin-bottom:40px;
}

.blog_grid_style .stand_post{
	min-height: 350px;
}

.page-id-2 .tiny_contentarea {
    padding-bottom: 12px;
}

.page-id-2 footer {
    margin-top: 60px;
}

.masonry_style .stand_post {
    min-height: 10px;
}

.top_slider_blog {
    margin-left: -30px;
    margin-bottom: 55px;
}

.blog .without_sidebar .entry-title {
    text-align: left;
}

.page-id-64 .entry-title {
    padding-bottom: 0;
}

.page-id-69 footer {
    margin-top: 30px;
}

.wpcf7-form textarea {
    height: 100px;
}

.slick-dots li:first-child {
    margin-left: 30px;
}

.left-sidebar-block .widget_posts.sidepanel .recent_posts li:last-child .recent_posts_content, .right-sidebar-block .widget_posts.sidepanel .recent_posts li:last-child .recent_posts_content {
    padding-bottom: 0;
}

.mc_merge_var {
    margin-bottom: 0 !important;
}

.mc_merge_var input[type=text] {
    font-size: 13px;
}

.postformats_cont.gt3_pf_image a, .stand_slide .innerpadding > a, .stand_post .gt3_pf_video > a {
    display: block;
}

.postformats_cont.gt3_pf_image img, .stand_slide img {
    display: block;
}

.sidepanel.widget_tag_cloud {
    padding-bottom: 15px;
}

.sidepanel.widget_posts {
    padding-bottom: 7px;
}

.sidepanel.jr-insta-slider {
    padding-bottom: 5px;
}

.widget_mailchimpsf_widget .title {
    margin-bottom: 22px !important;
}

.widget_mailchimpsf_widget {
    padding-bottom: 11px !important;
}

.top_slider_blog {
    margin-top: 5px;
}

.sidepanel.widget_categories li a {
    text-decoration: none;
}

.single .postformats_cont{
	margin-bottom:30px;
}
.single .postformats_cont a img {
    opacity: 1 !important;
}

.single .tiny_contentarea{
	margin-bottom:28px;
	padding-bottom:24px;
	border-bottom:2px solid #e9f1f2;
}

footer .sidepanel .title {
    margin-bottom: 29px;
}

footer .tagcloud {
    margin-top: -2px;
}

footer .jr-insta-thumb img, footer .recent_posts_content img {
    transition: all 0.3s;
}

footer .jr-insta-thumb img:hover, footer .recent_posts_content img:hover {
    opacity: 0.85;
}

.rounded_image_parent {
    background: transparent !important;
    display: inline-block !important;
    width: 100% !important;
    text-align: center !important;
}

footer .mc_signup, footer .tagcloud {
    position: relative;
    top: -1px;
}

.postformats_cont img {
    -webkit-backface-visibility: hidden;
}

dt {
    font-weight: bold;
    text-decoration: underline;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

dl.wp-caption {
    border: none
}

#wp-calendar td, #wp-calendar th {
    border: none !important;
}

.sidepanel .children {
    margin-top: 7px;
}

.sidepanel .wp-caption {
    background: transparent;
    border: none;
}

a.retina_logo {
    display: none;
}

.mobile_menu_button {
    display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    a.default_logo {
        display: none;
    }
 
    a.retina_logo {
        display: block;
    }

    .mobile_menu_button {
        background-image: url(../img/retina/mobile_icons.png) !important;
        background-size: 30px 26px !important;
		background-repeat: no-repeat;
    }
}

/* Responsive */
@media only screen and (max-width: 1280px) {
    header .menu li:first-child .sub-menu {
        margin-left: -24px;
    }
	
}

@media only screen and (max-width: 1024px) {
    .span6.masonry-brick {
        width: 47%;
    }

    .span4.masonry-brick {
        width: 30%;
    }
	
	.left_sidebar .content_block, .right_sidebar .content_block{width:645px;}
	.row .span3.right-sidebar-block, .row .span3.left-sidebar-block{width:255px;}
	
}

@media only screen and (max-width: 1023px) {
    .search_form input[type=text] {
        width: 94%;
    }

    .left_sidebar .content_block, .right_sidebar .content_block{width:504px;}
	.row .span3.right-sidebar-block, .row .span3.left-sidebar-block{width:180px;}
	
}

@media only screen and (max-width: 736px) {
    .container {
        margin: 0 20px;
    }

    .content_block {
        margin-bottom: 30px;
    }
	
	.left_sidebar .content_block, .right_sidebar .content_block{width:100%;}
	.row .span3.right-sidebar-block, .row .span3.left-sidebar-block{width:100%;margin:0;}
	
	.search_form input[type="text"]{width:99%;}

    .posts_container .row:last-child .stand_post {
        min-height: 460px;
    }
	
	.featured_items .span6:first-child{margin-left:0;}
	.featured_items .span6{float:left;width:48.9362%;margin-left:2.12766%;}
	
	.wpcf7-form input, .wpcf7-form textarea{width:95%;}
	
	.wpcf7-form p:nth-child(3), .wpcf7-form p:nth-child(4){width:46.5%;}

    footer .sidepanel .title {
        margin-top: 20px;
    }

    footer .recent_posts li:last-child div {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 667px) {
    header .menu {
        display: none;
        margin: 20px 0;
    }
	
	.active_mobile_menu .menu-menu-container{position:absolute;left:0;top:60px;width:100%;}
	.active_mobile_menu header .menu{margin-top:0;}
	
    .mobile_menu_button {
        display: block;
        width: 30px;
        height: 26px;
        background-image: url(../img/mobile_icons.png);
		background-size: 30px 26px;
		background-repeat: no-repeat;
        position: relative;
        top: 19px;
        cursor: pointer;
    }

    header .sub-menu {
        visibility:visible;
		display: block;
        position: static;
        margin-left: 0 !important;
        padding-top: 0;
		padding-left:5%;
		opacity:1;
		background:transparent;
    }

    header .menu li {
        width: 100%;
    }

    header li a {
        width: 100%;
        display: block;
        padding-right: 0 !important;
        font-size: 17px !important;
        padding-left: 20px !important;
    }
	
	header .menu li .sub-menu a{color:#fff !important;}

    header .menu > li:first-child {
        padding-top: 15px;
    }

    header .menu > li:last-child {
        padding-bottom: 15px;
    }
	
	.featured_items .span6:first-child, .featured_items .span6{float:none;width:100%;margin-left:0;}
	.postformats_cont.gt3_pf_image img, .stand_slide img{width:100%;}
	
	.wpcf7-form p:nth-child(3), .wpcf7-form p:nth-child(4){width:100%;display:block;}
	.wpcf7-form input, .wpcf7-form textarea{width:91%;}
	
}

@media only screen and (min-width: 668px) {
    header .menu {
        display: block !important;
    }
}

/* Vertical iPhones */
@media only screen and (max-width: 414px) {
    h1 {
        font-size: 22px;
        line-height: 25px;
        word-wrap: break-word;
    }

    h2 {
        font-size: 20px;
        line-height: 23px;
        word-wrap: break-word;
    }

    h3 {
        font-size: 18px;
        line-height: 20px;
        word-wrap: break-word;
    }

    h4 {
        font-size: 17px;
        line-height: 19px;
        word-wrap: break-word;
    }

    .postformats_cont.gt3_pf_link .entry-title-pformat, .postformats_cont.gt3_pf_quote .entry-title-pformat {
        font-size: 20px;
        line-height: 30px;
    }

    iframe {
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .logo a {
        max-width: 280px !important;
        height: auto !important;
    }

    .postformats_cont.gt3_pf_quote, .postformats_cont.gt3_pf_link {
        padding: 40px 50px 40px 50px;
    }

    .pformat-top-cont i {
        display: none;
    }

    .blog_grid_style .postformats_cont.gt3_pf_quote, .blog_grid_style .postformats_cont.gt3_pf_link {
        padding-top: 40px;
    }

    h1 {
        font-size: 19px !important;
        line-height: 24px !important;
    }

    h2 {
        font-size: 18px !important;
        line-height: 23px !important;
    }

    h3 {
        font-size: 17px !important;
        line-height: 22px !important;
    }

    h4 {
        font-size: 16px !important;
        line-height: 21px !important;
    }

    h5 {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    h4 {
        font-size: 14px !important;
        line-height: 19px !important;
    }

    .error404 h1 {
        font-size: 80px !important;
        line-height: 90px !important;
    }

    .error404 h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .tiny_contentarea .search_form input[type=text] {
        width: 27%;
    }

    .tiny_contentarea .search_form input[type=submit] {
        margin-left: 1px;
    }
}